{% extends 'base.html' %}

{% block content %}

<!-- the full dict for a president is sent here as pres by the route -->

<div class="topnav">

  <h2>Add a Subscription</h2>
   <center class="row">
   <div class="search-container">
    <form method="post">
      <input type="text" placeholder="Subscription" name="item">
      <input type="text" placeholder="Date" name="date">
      <input type="text" placeholder="Monthly Payment Amount" name="paymentAmount">
      <input type="text" placeholder="Payment Method" name="paymentMethod">
      <button type="submit">Submit</button>
    </form>
  </div>
  </center>
</div>

<div>
    <h2> Message:</h2> 
    {{message}} 
</div>


  
{% endblock %}